.anna
  &__banner
    height: 600px
    background-size: contain
    background-repeat: no-repeat
    background-position: 80% 100%
    display: flex
  &__wrap
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    width: 40%
    padding-left: 90px
  &__h1
    color: $colorBlack
    font-size: 32px
    font-weight: bold
    line-height: normal
    text-align: left
  &__text
    color: $colorBlack
    font-size: 20px
    font-weight: normal
    line-height: normal
    padding-top: 50px