.components
  padding-top: 100px
  &__title
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
  &__h1
    color: $colorBlack
    font-weight: 900
    font-size: 40px
    line-height: normal
    text-transform: uppercase
  &__h3
    color: #D79D5E
    font-size: 24px
    line-height: normal
    font-weight: normal
    padding-top: 30px
  &__wrap
    padding-top: 80px
    display: flex
    align-items: center
    justify-content: center
  &__left, &__right
    display: flex
    flex-direction: column
    width: 30%
    &_one, &_two
      display: flex
      align-items: center
      justify-content: center
    &_two
      padding-top: 50px
  &__h2
    color: $colorBlack
    font-weight: 900
    font-size: 32px
    line-height: normal
  &__h4
    color: $colorBlack
    font-weight: 400
    font-size: 22px
    line-height: normal
    padding-top: 10px
  &__img
    width: 220px
    height: 160px
    img
      width: 100%
  &__center
    background-color: $colorWhite
    width: 380px
    height: 375px
    border-radius: 94px
    margin-left: 30px
    margin-right: 30px
    img
      width: 100%
#components > div.components__wrap > div.components__right > div.components__right_one > div.components__text
        margin-left: 30px
#components > div.components__wrap > div.components__right > div.components__right_two > div.components__text
  margin-left: 80px



