.footer
  padding: 32px 0
  background-color: #293B42
  margin-top: 100px
  &__text
    color: $colorWhite
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    a
      color: $colorWhite
      text-decoration: none
  .row-nav
    flex-direction: row
    justify-content: space-around
    align-items: center
