.footer
  padding: 32px 0
  background-color: #293B42
  margin-top: 100px
  @media (max-width: $bpLarge)
    margin-top: 50px
  &__text
    color: $colorWhite
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    a
      color: $colorWhite
      text-decoration: none
  &__contacts
    @media (max-width: $bpLarge)
      padding-top: 30px
  &__all-rights
    @media (max-width: $bpLarge)
      padding: 20px 0 30px 0

  .row-nav
    flex-direction: row
    justify-content: space-around
    align-items: center
    &__logo
      @media (max-width: $bpLarge)
        padding-top: 20px
        order: -1
    @media (max-width: $bpLarge)
      flex-direction: column


