.form
  padding-top: 100px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  &__title
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    width: 50%
  &__h1
    color: $colorBlack
    font-weight: 900
    font-size: 40px
    line-height: normal
    text-transform: uppercase
  &__text
    color: $colorBlack
    font-size: 20px
    line-height: normal
    font-weight: normal
    padding-top: 30px
  &__wrap
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    width: 50%
    padding-top: 50px
  &__control
    width: 100%
    margin-top: 10px
    height: 70px
    border-radius: 40px
    border: 0px
    padding: 0 50px
  &__h2
    color: $colorBlack
    font-weight: 600
    font-size: 24px
    line-height: normal
    padding-top: 30px
  &__button
    background-color: #D79D5E
    border-radius: 40px
    padding: 20px 40px
    margin-top: 30px
    a
      color: $colorWhite
      font-size: 20px
      font-weight: normal
      line-height: normal
      text-decoration: none

input[type=submit]
  background-color: #D79D5E
  border-radius: 40px
  padding: 20px 40px
  margin-top: 30px
  border: 0
  color: $colorWhite
  font-size: 20px
  font-weight: normal
  line-height: normal

form
  width: 100%