.ginseng
  padding-top: 100px
  @media (max-width: $bpSmall)
    padding-top: 53px
  &__wrap
    display: flex
    justify-content: center
    align-items: center
    padding: 0 90px
    position: relative
    @media (max-width: $bpExtraLarge)
      justify-content: space-around
      padding: 0 50px
    @media (max-width: $bpExtraLarge)
      justify-content: center
      flex-direction: column
      padding: 0 40px
    @media (max-width: $bpSmall)
      display: block
      padding: 0 40px
  &__slider
    padding: 20px
    @media (max-width: $bpSmall)
      padding: 10px 0
  &__slide
    background-repeat: no-repeat
    background-size: contain //80%
    background-position: 50% 0
    height: 600px
    width: 100%
    display: flex
    justify-content: flex-start
    padding-left: 80px
    @media (max-width: $bpExtraExtraLarge)
      height: 450px
    @media (max-width: $bpSmall)
      height: 300px
      padding-left: 0
  &__h1
    color: $colorBlack
    font-size: 40px
    line-height: normal
    font-weight: bold
    @media (max-width: $bpSmall)
      font-size: 24px
  &__text
    color: $colorBlack
    font-size: 20px
    font-weight: normal
    line-height: normal
    padding-top: 50px
    @media (max-width: $bpSmall)
      padding-top: 10px

#ginseng_slider > div.owl-nav
  top: 45%
  @media (max-width: $bpExtraLarge)
    top: 40%
  @media (max-width: $bpLarge)
    top: 45%
  @media (max-width: $bpMedium)
    top: 100%
  @media (max-width: $bpSmall)
    top: 99%
    left: 50%
#ginseng_slider > div.owl-nav > button.owl-prev
  left: -95px
  position: absolute
  @media (max-width: $bpExtraExtraLarge)
    left: -170px
  @media (max-width: $bpMedium)
    left: -70px
  @media (max-width: $bpSmall)
    left: -70px

#ginseng_slider > div.owl-nav > button.owl-next
    left: 48em
    position: absolute
    @media (max-width: $bpExtraExtraLarge)
      left: 440px //7em
    @media (max-width: $bpExtraLarge)
      left: 550px
    @media (max-width: $bpMedium)
      left: 100% //7em
    //@media (max-width: 430px)
      //left: 7em //7em

//#ginseng_slider > div.owl-dots
//  @media (max-width: $bpSmall)
//    left: 34%
//    top: 89%
//  @media (max-width: 430px)
//    left: 38%
//    top: 89% //88%