.ginseng
  padding-top: 100px
  &__wrap
    display: flex
    justify-content: center
    align-items: center
    padding-left: 90px
    position: relative
    .owl-dots
      display: none !important
    .owl-nav
      top: 55%
      .owl-prev
        left: -100px
      .owl-next
        left: 55em !important
      button
        position: absolute
        span
          font-size: 92px !important
  &__slider
    padding: 20px
  &__slide
    background-repeat: no-repeat
    background-size: 80%
    background-position: 50% 80%
    height: 600px
    width: 100%
    display: flex
    justify-content: flex-start
    padding-left: 80px
  &__h1
    color: $colorBlack
    font-size: 40px
    line-height: normal
    font-weight: bold
  &__text
    color: $colorBlack
    font-size: 20px
    font-weight: normal
    line-height: normal
    padding-top: 50px