.products
  padding-top: 100px
  margin-top: 150px
  background-color: #293B42
  &__logo-wrap
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  &__logo
    width: 20%
    img
      width: 100%
  &__title
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    padding-top: 100px
  &__h1
    color: $colorWhite
    font-weight: 900
    font-size: 40px
    line-height: normal
    text-transform: uppercase
  &__h3
    color: #D79D5E
    font-size: 24px
    line-height: normal
    font-weight: normal
    padding-top: 30px
  &__h2
    color: $colorBlack
    font-weight: 900
    font-size: 32px
    line-height: normal
    padding-left: 60px
    padding-top: 50px
  &__h4
    color: $colorBlack
    font-weight: 400
    font-size: 24px
    line-height: normal
    padding-top: 10px
  &__h5
    color: $colorBlack
    font-weight: 400
    font-size: 22px
    line-height: normal
    padding-top: 10px
  &__wrap
    padding: 30px 60px
  &__sublime-slide, &__ground-slide, &__leaves-slide
    background-color: $colorWhite
    border-radius: 94px
    margin-top: 30px
  &__sublime, &__ground, &__leaves
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    overflow: hidden
    padding-top: 50px
  &__sublime
    &__slide
      height: 150px //290px
      width: 450px
      img
        width: 100%
  &__ground
    &__slide
      width: 450px
      img
        width: 100%
  &__leaves
    &__slide
      height: 150px //290px
      width: 450px
      img
        width: 100%

