.slides
  &__slide
    background-repeat: no-repeat
    background-size: cover
    height: 860px
    width: 100%
    display: flex
    justify-content: flex-start
    padding-left: 80px
    @media (max-width: $bpSmall)
      background-position: 100% 0, 50% 100%
      align-items: flex-start !important
      height: 1300px
      background-size: 100% 50%, 300% 50% !important
      background-color: #3c3c3c
      padding: 0 25px 0
  &__h1
    color: #F8F8F8
    font-size: 40px
    line-height: normal
    font-weight: 800
    margin-top: 300px
    @media (max-width: $bpSmall)
      margin-top: 0
      padding-top: 40px

  &__desc-ul
    padding-top: 50px
    @media (max-width: $bpSmall)
      padding-top: 5px
  &__desc-li
    color: #F8F8F8
    font-size: 24px
    line-height: normal
    padding-left: 10px
    padding-top: 5px

