.slides
  &__slide
    background-repeat: no-repeat
    background-size: cover
    height: 860px
    width: 100%
    display: flex
    justify-content: flex-start
    //align-items: flex-end !important
    padding-left: 80px
  &__h1
    color: #F8F8F8
    font-size: 40px
    line-height: normal
    font-weight: bold
    margin-top: 300px
  &__desc-ul
    padding-top: 50px
  &__desc-li
    color: #F8F8F8
    font-size: 24px
    line-height: normal
    padding-left: 10px
    padding-top: 5px

